.b-dashed {
  border-style: dashed !important;
}

.b-none,
.no-border {
  border-color: transparent;
  border-width: 0;
}

.b-ra-none,
.no-radius {
  border-radius: 0;
}

.b-a { border: $border-width solid $border-color; }
@each $prop, $abbrev in (top: t, right: r, bottom: b, left: l) {
  .b-#{$abbrev} { border-#{$prop}: $border-width solid $border-color; }
}

.b-a-ra { border-radius: $border-radius; }
@each $size in (1, 2, 3, 4) {
  @if $size == 1 {
    $sizeText: '';
  } @else {
    $sizeText: -#{$size}x;

    .b-w#{$sizeText} { border-width: $border-width * $size !important }
  }

  @each $prop, $abbrev in (top-left: tl, top-right: tr, bottom-left: bl, bottom-right: br) {
    .b-#{$abbrev}-ra#{$sizeText} { border-#{$prop}-radius: $border-radius * $size; }
  }
}