/node_modules
/public/doc
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.php_cs.cache
